:root {
--main-text-color: #757575;
--secondary-text-color: #212121;
--accent-link-color: #2196f3;
--main-bg-color: #ffffff;
--secondary-bg-color: #f5f4fa;
--hero-footer-bg-color: #2f303a;

--card-set-gap: 30px;
}

/* -------Ресет стилей------- */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

/* h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
} */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* -------Скрываем заголовок секции------- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* -------Контейнер для секций------- */
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    outline: 2px solid red;
}

/* -------Шапка------- */
.header {
    border-bottom: 1px solid #ECECEC;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #000000;
}

.logo .accent {
    color: #2196F3;
}

.header-link,
.header-contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}

.header-link.active-page {
    color: var(--accent-link-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-link-color);
}

/* -------Contacts------- */
.header-contacts-link {
    color: #757575;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--accent-link-color);
}

/* -------Герой------- */
.hero {
    background: var(--hero-footer-bg-color)
}

.hero > .container {
    height: 600px;
}

.hero-title {
    width: 696px;
    padding-top: 200px;
    padding-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}
 
.hero-button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;

    color: #FFFFFF;
    background: #2196F3;

    border-radius: 4px;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

/* -------Особенности------- */ 
.features {
    padding-top: 94px;
    padding-bottom: 47px;
    
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-item {
    width: 270px;
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
}

.features-item-text {
    padding-top: 10px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* -------Чем мы занимаемся------- */
.works {
    padding-top: 47px;
    padding-bottom: 47px;
}

.works-title {
    width: 376px;
    padding-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

.works-item {
    width: 370px;
}

/* -------Наша команда------- */
.team {
    padding-top: 47px;
    background-color: var(--secondary-bg-color);
}

.team-list {
    padding-bottom: 50px;
}

.team-item {
    width: 270px;
}

.team-image {
    padding-bottom: 30px;
}

.team-title {
    width: 264px;
    padding-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.team-item-title {
    padding-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

.team-item-text {
    padding-bottom: 30px;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* -------Футер------- */
.footer {
    background-color: var(--hero-footer-bg-color);
}

.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #ffffff;
}

.footer-logo .accent {
    color: #2196F3;
}

.footer-list {
    font-style: normal;
}

.footer-address,
.footer-contacts-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.footer-contacts-link {
    color: rgba(255, 255, 255, 0.6);
}

.footer-address:hover,
.footer-address:focus,
.footer-contacts-link:hover,
.footer-contacts-link:focus{
    color: var(--accent-link-color);
}

/* -------Портфолио------- */
.portfolio {
    margin-bottom: 94px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 50px;
}

.portfolio-item {
    margin: 0;

}

.portfolio-item:not(:last-child) {
    margin-right: 8px;
}

/* -------Навигация для секции Портфолио------- */
.portfolio-button {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: var(--secondary-bg-color);
    color: #212121;

    cursor: pointer;
    border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-link-color);
    color: #ffffff;
}

/* -------Портфолио Примеры работ------- */
.card-set-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;

    color: var(--secondary-text-color);
}

.card-set-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
}

/* -------Сетка для карточек Портфолио------- */
.card-set {
    display: flex;
    flex-wrap: wrap;

    margin-top: calc( -1 * var(--card-set-gap));
    margin-left: calc( -1 * var(--card-set-gap));
}

.card-set > .card-set-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));

    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
} 